<div>
    <h2 id="page-heading">
        <span jhiTranslate="testMemoryH2App.webUser.home.title">Web Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-web-user" [routerLink]="['/web-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testMemoryH2App.webUser.home.createLabel">
            Create a new Web User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="webUsers?.length === 0">
        <span jhiTranslate="testMemoryH2App.webUser.home.notFound">No webUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="webUsers && webUsers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testMemoryH2App.webUser.firstName">First Name</span></th>
                    <th scope="col" ><span jhiTranslate="testMemoryH2App.webUser.lastName">Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="testMemoryH2App.webUser.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="testMemoryH2App.webUser.password">Password</span></th>
                    <th scope="col" ><span jhiTranslate="testMemoryH2App.webUser.pushNotificationToken">Push Notification Token</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let webUser of webUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/web-user', webUser.id, 'view']">{{ webUser.id }}</a></td>
                    <td>{{ webUser.firstName }}</td>
                    <td>{{ webUser.lastName }}</td>
                    <td>{{ webUser.email }}</td>
                    <td>{{ webUser.password }}</td>
                    <td>
                        <span *ngFor="let pushNotificationToken of webUser.pushNotificationTokens; let last = last">
                            <a class="form-control-static" [routerLink]="['/push-notification-token', pushNotificationToken?.id, 'view']">{{ pushNotificationToken.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/web-user', webUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/web-user', webUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(webUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
