<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="device">
            <h2><span jhiTranslate="testMemoryH2App.device.detail.title">Device</span> {{ device.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testMemoryH2App.device.uuid">Uuid</span></dt>
                <dd>
                    <span>{{ device.uuid }}</span>
                </dd>
                <dt><span jhiTranslate="testMemoryH2App.device.appVersion">App Version</span></dt>
                <dd>
                    <span>{{ device.appVersion }}</span>
                </dd>
                <dt><span jhiTranslate="testMemoryH2App.device.idUpdated">Id Updated</span></dt>
                <dd>
                    <span>{{ device.idUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="testMemoryH2App.device.place">Place</span></dt>
                <dd>
                    <div *ngIf="device.place">
                        <a [routerLink]="['/place', device.place?.id, 'view']">{{ device.place?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/device', device.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
