<div>
    <h2 id="page-heading">
        <span jhiTranslate="testMemoryH2App.deviceConfiguration.home.title">Device Configurations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-device-configuration" [routerLink]="['/device-configuration/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testMemoryH2App.deviceConfiguration.home.createLabel">
            Create a new Device Configuration
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deviceConfigurations?.length === 0">
        <span jhiTranslate="testMemoryH2App.deviceConfiguration.home.notFound">No deviceConfigurations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deviceConfigurations && deviceConfigurations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testMemoryH2App.deviceConfiguration.primaryHostname">Primary Hostname</span></th>
                    <th scope="col" ><span jhiTranslate="testMemoryH2App.deviceConfiguration.secondaryHostname">Secondary Hostname</span></th>
                    <th scope="col" ><span jhiTranslate="testMemoryH2App.deviceConfiguration.port">Port</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deviceConfiguration of deviceConfigurations ;trackBy: trackId">
                    <td><a [routerLink]="['/device-configuration', deviceConfiguration.id, 'view']">{{ deviceConfiguration.id }}</a></td>
                    <td>{{ deviceConfiguration.primaryHostname }}</td>
                    <td>{{ deviceConfiguration.secondaryHostname }}</td>
                    <td>{{ deviceConfiguration.port }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/device-configuration', deviceConfiguration.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/device-configuration', deviceConfiguration.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deviceConfiguration)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
