<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pushNotificationToken">
            <h2><span jhiTranslate="testMemoryH2App.pushNotificationToken.detail.title">Push Notification Token</span> {{ pushNotificationToken.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testMemoryH2App.pushNotificationToken.token">Token</span></dt>
                <dd>
                    <span>{{ pushNotificationToken.token }}</span>
                </dd>
                <dt><span jhiTranslate="testMemoryH2App.pushNotificationToken.timestamp">Timestamp</span></dt>
                <dd>
                    <span>{{ pushNotificationToken.timestamp }}</span>
                </dd>
                <dt><span jhiTranslate="testMemoryH2App.pushNotificationToken.user">User</span></dt>
                <dd>
                    {{ pushNotificationToken.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/push-notification-token', pushNotificationToken.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
